{% extends 'shop/basics.html'%}
{% block title%}Home page{% endblock %}
{% block css %}
<style>
    .col-3 {
        display: inline-block;
    }

    .col-3 img {
        width: 100%;
        height: 200px;
    }

    body .carousel-indicators button {
        background-color: blue !important;
    }

    body .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: blue;
    }

    body .carousel-control-prev,
    .carousel-control-next {
        width: auto !important;
    }

    .carousel-indicators {
        padding: 0;
        margin: 0;
    }
</style>
{% endblock %}

{%load static%}

{% block body %}
<div class="container" id="home-container">
    <button class='btn btn-primary' onclick='clearCart()' id='clearCart'>Clear Cart</button>
    {% for product,no_of_slides,range in all_prods%}
    <h1>{{product.0.category}}</h1>
    <div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide-to="0"
                class="active" aria-current="true" aria-label="Slide 1"></button>

            {%for i in range %}
            <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.parentloop.counter}}"
                data-bs-slide-to="{{i}}" aria-label="Slide 2">
                {% endfor %}

            </button>
        </div>
        <div class="carousel-inner border">

            <div class="carousel-item active">
                <div class="row">

                    {% for i in product %}
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/media/{{i.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id="name{{i.id}}">{{i.product_name|slice:":22"}}...</h5>
                                <p class="card-text">{{i.desc|slice:"0:50"}}...</p>
                                <h5>Price:Rs. <span id="rs{{i.id}}"> {{i.price}}</span></h5>
                                <span id="divpr{{i.id}}" class="divpr">
                                    <button id="{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                                </span>
                                <a href="/shop/productView/{{i.id}}" id="qv{{i.id}}" class="btn btn-primary">
                                    Quick View
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
        <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>

    // find out the item from local storage
    if (localStorage.getItem("cart") != null) {
        var cart = JSON.parse(localStorage.getItem("cart"));
        updateCart(cart);

    } else {
        var cart = {}
    }
    // If the add to cart button is clicked,add/increment item
    // $('.cart').click(function () {
    $(".divpr").on("click", "button.cart", function () {
        let id = this.id.toString();
        if (cart[id] != undefined) {
            cart[id][0] = cart[id][0] + 1;
        }
        else {
            var qty = 1;
            var name = document.getElementById("name" + id).innerHTML;
            var price = document.getElementById("rs" + id).innerHTML;
            cart[id] = [qty, name, parseInt(price)];
        }
        updateCart(cart);
    });
    // clear cart
    function clearCart() {
        cart = JSON.parse(localStorage.getItem('cart'));
        for (var item in cart) {
            document.getElementById('divpr' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>';
        }
        localStorage.clear();
        cart = {};
        updateCart(cart);
    }
    // Update the popover
    function updatePopover(cart) {
        var btnPopCart = document.getElementById("popcart");
        var popStr = "<h5>Cart for your items:</h5><div class='border border-1'>";
        var i = 1;
        var totalPrice = 0;
        for (item in cart) {
            for (var j = 0; j < cart[item][0]; j++) {
                totalPrice += (Number(document.getElementById("rs" + item).innerHTML));
            }
            popStr += "<p>" + i + ":";
            popStr += document.getElementById("name" + item).innerHTML.slice(0, 15) + "..-";
            popStr += cart[item][0] + "-";
            popStr += document.getElementById("rs" + item).innerHTML + "Rs.</p>";
            i++;
        }
        popStr += "<h6>Total:" + totalPrice + "</h6><a href='/shop/checkout' class='btn btn-primary' id ='checkout'>Checkout</a>";

        btnPopCart.setAttribute("data-bs-content", popStr);
    }
    // updating card and plus-minus the buttons
    function updateCart(cart) {
        console.log(cart);
        for (var item in cart) {
            document.getElementById("divpr" + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
        }
        var sum = 0;
        for (const item in cart) {
            sum += cart[item][0];
        }
        localStorage.setItem("cart", JSON.stringify(cart));
        document.getElementById("cart").innerHTML = sum;
        updatePopover(cart);
    }
    $(".divpr").on("click", "button.minus", function () {
        minusId = this.id.slice(5,);
        cart[minusId][0] = cart[minusId][0] - 1;
        cart[minusId][0] = Math.max(0, cart[minusId][0]);
        document.getElementById("val" + minusId).innerHTML = cart[minusId][0];
        updateCart(cart);
    });
    $(".divpr").on("click", "button.plus", function () {
        pulsId = this.id.slice(4,);
        cart[pulsId][0] = cart[pulsId][0] + 1;
        document.getElementById("val" + pulsId).innerHTML = cart[pulsId][0];
        updateCart(cart);
    });
    // $('#popcart').popover("show");
    // add pop over to cart
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })

</script>

{% endblock %}